/* heder  */
.header{
    display: block;
    padding: 0;
    position: fixed;
    top:0;
    z-index: 5555;
    border-bottom: 2px solid #0D8E16;
}
.header-top-left span{
    font-size: 14px;
    line-height: 40px;
}
.header-top-right-v3 ul li{
    list-style: none;
    float: left;
}
.header-top-right-v3 ul li a{
    color: black;
}
.icon-v3-top{
    line-height: 40px;
    font-size: 20px;
}
.fa-facebook-square{
    color: blue;
}
.fa-youtube{
    color:red;
    margin-left: 5px;
    margin-right: 5px;
}
.fa-instagram{
    color: #FF0078;
}
.img-fluid{
    display: block;
    width: 70px;
    height: 70px;
}
/* menu */
.navbar{
    background-color: #FEFEFE;
}
.navbar-light .navbar-nav .nav-link{
    font-family: sarabun-extrabold;
    text-transform: uppercase;
    color: black;
    padding: 0px 20px;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #D03135;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #D03135;
}
.navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0px;
}
.navbar-light .navbar-toggler{
    border:none;
}
.navbar-collapse ul{
    font-size: 13px;
}
.navbar-collapse ul li a.active{
    border-bottom: 2px solid red;
}
.navbar-collapse ul li a.active:hover{
    border-bottom: none;
}
.navbar-collapse ul li:hover{
    border-bottom: 2px solid red;
}
/* slide show */
.slide-show{
    height: 400px;
    display: block;
    padding: 0;
    margin-top: 137px;
}
.carousel-item img{
    height: 400px;
}
/* check-about */
form.cal{
    display: block;
    border: 2px solid #0D8E16;
}
.gr1{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.check-time{
    margin-top:20px;
}
.check-time h2{
    color:#0D8E16;
}
.check{
    margin-left: 15px;
}
.btn-check{
    background: #0D8E16;
    margin-left: 35%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-check:hover{
    background:red ;
}
.fa-calendar-alt:before {
    position: absolute;
    top: 43px;
    right: 10px;
}
.help-list-title{
    font-family: sarabun-extrabold;
    text-transform: uppercase;
    font-size: 25px;
}
.help-list-sub{
    margin: 15px 0px;
}
.help-list-sub:hover{
    box-shadow: 2px 2px 2px 2px red;
}
.help-list-sub img{
    width: 100%;
    height: 220px;
    padding: 20px 0px;
    overflow: hidden;
}
.help-list-sub img:hover{
    width: 300px;
}
.help-list-sub a{
    font-family: sarabun-extrabold;
    color: #D03135;
}
.news h3{
    color: #0D8E16;
    margin-top: 20px;
}
.new-paper a{
    text-decoration: none;
    color:#0D8E16;
}
.new-paper a:hover{
    color: red;
}
.map{
    margin-top: 20px;
}
.about-us{
    margin-top: 20px;
}
.about-us h1{
    color:#0D8E16;
}
/* send mail */
.send-mail{
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.icon-send{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid white;
    margin-top: 70px;
    margin-left: 40px;
}
.fa-envelope{
    width: 40px;
    height: 40px;
    color: white;
    margin-top: 17px;
}
.btn-send{
    position: absolute;
    top: 81px;
    right: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid gray;
    border-radius: 0;
}
.list-send{
    margin-top: 80px;
    margin-bottom: 20px;
}
#exampleFormControlInput2{
    margin-top: 80px;
}
/* footer */
.footer-hotel{
    display: block;
    min-height: 350px;
}
.img-footer{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
.list-footer{
     margin-top: 100px;
}
.list-footer ul li{
    list-style-type: none;
}
.list-footer ul li a{
    color: black;
    text-decoration: none;
}
.list-footer ul li a:hover{
    color: red;
}
.fa-amazon-pay{
    color: red;
    width: 10px;
    height: 10px;
}